.info-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.info-navbar{
    width: 100%;
    height: 60px;
    background: #38B6FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.info-logo{
    width: 40px;
    height: 40px;
    background: white;
    background-image: url('../../imagens/sem-nome.png');
    background-position: center;
    background-size: 110%;
    border-radius: 50px;
    margin-left: 10px;
}

.info-titulo{
    font-family: "Segoe UI";
    color: white;
    font-size: 22pt;
    text-shadow: 0px 1px 4px rgb(119, 117, 117);

}

.info-form{
    display: flex;
    width: 80%;
}

.info-content{
    width: 100%;
    margin-top: 60px;
    flex: 1;
    background: #B9E5FF;
    display: flex;
    justify-content: center;
}

.info-foto{
    width: 160px;
    height: 160px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 0 0;
    border-radius: 100%;
    font-family: "Segoe UI";
    font-size: 20pt;
    font-weight: 400;
    box-shadow: 0px 0px 3px 0.1px rgb(196, 194, 194);
    color: #47BDEF;
    overflow: hidden;
}

#info-imagem{
    width: 100%;
    height: 100%;
    background: url("../../imagens/user-blue.png") no-repeat center;
    background-size: 100%;
}

.info-form-fields{
    margin-top: 20px;
    flex: 1;
}

.info-input{
    margin-bottom: 10px !important;
    box-shadow: 0px 0px 3px 0.1px rgb(196, 194, 194);
    width: 49%;
    border: none;
    color: black;
    background: white;
    font-size: 15pt;
    padding: 10px !important;
    font-weight: 400 !important;
    height: 45px;
}

.info-complete{
    width: 100%;
}


.info-input::-webkit-input-placeholder {
    font-size: 15pt;
    color: #47BDEF;
    font-weight: 400;
 }
  
 .info-input::-moz-placeholder { /* Firefox 18- */
    font-size: 15pt;
    color: #47BDEF;
    font-weight: 400;
 }
  
 .info-input::-moz-placeholder {  /* Firefox 19+ */
    font-size: 15pt;
    color: #47BDEF;
    font-weight: 400;
 }
  
 .info-input::-ms-input-placeholder {  
    font-size: 15pt;
    color: #47BDEF;
    font-weight: 400;
 }

.info-combo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-form-senha{
    background: white;
    width: 49%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 3px 0.1px rgb(196, 194, 194);
    margin-bottom: 10px;
}

.info-senha{
    flex: 1;
    margin: 0 !important;
    box-shadow: none;
}

.info-eye{
    height: 30px;
    width: 30px;
    background: url('../../imagens/eyee.png') no-repeat center;
    background-position-x: center;
    background-size: 100%; 
    margin: 0 10px 0 10px;
 }

 .info-logradouro{
    width: 79%;
 }

 .info-numero{
    width: 19%;
 }
 .info-form-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

 .info-button{
    height: 40px;
    width: 200px;
    background: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    font-size: 15pt;
    font-weight: 400;
    cursor: pointer;
 }

 .info-label{
    font-size: 13pt;
 }

 .info-footer{
    margin-top: -8px;
    display: flex;
 }

 .info-login{
    margin-left: 8px;
    text-decoration: underline;
    cursor: pointer;
 }

.info-upload{
    margin-top: 10px;
    width: 160px;
    background: #38B6FF;
    color: white;
    border: 1px solid rgb(129, 153, 233);
}

.info-upload div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-shadow: 0px 1px 1px rgb(158, 156, 156);
    font-size: 15pt;
    cursor: pointer;
}

.info-file{
    position: absolute;
    top: 0;
    right: 5000;
    margin: 0;
    padding: 0;
    font-size: 20px;
    z-index: 0;
}