<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_brain_help"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_brain_help_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.JogoDaMemoriaActivity"></activity>

        <activity android:name=".activities.TelaCadastroInicialActivity" />
        <activity android:name=".activities.TelaEnderecoCardActivity" />
        <activity android:name=".activities.TelaEnderecosActivity" />
        <activity android:name=".activities.TelaMedicamentoCardActivity" />
        <activity android:name=".activities.TelaMedicamentosActivity" />
        <activity android:name=".activities.TelaFotoCardActivity" />
        <activity android:name=".activities.TelaFotosActivity" />
        <activity android:name=".activities.TelaMusicaCardActivity" />
        <activity android:name=".activities.TelaMusicasActivity" />
        <activity android:name=".activities.TelaTarefaCardActivity" />
        <activity android:name=".activities.TelaTarefasActivity" />
        <activity android:name=".activities.TelaChatbotActivity" />
        <activity android:name=".activities.TelaJogosActivity" />
        <activity android:name=".activities.TelaContatoCardActivity" />
        <activity android:name=".activities.TelaContatosActivity" />
        <activity android:name=".activities.TelaHomeActivity" />
        <activity android:name=".activities.TelaCadastroActivity" />
        <activity android:name=".activities.TelaLoginActivity" />
        <activity android:name=".activities.TelaLogin" />
        <activity android:name=".activities.TelaInicialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.app"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>